<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{index.css(v=${indexcsshash})}">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

    <title>Web Clipboard</title>

</head>
<body>
<div class="container">
    <div class="alert alert-success alert-dismissible hidden" role="alert" id="contentRemovedAlert">
        Content removed from the server and the database.
        <button type="button" class="close" aria-label="Close" id="closeContentRemovedAlert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <div class="col">
            <h1>Web Clipboard</h1>
        </div>
        <div class="col right align-self-end hidden" id="loggedInUserContainer">
            <img id="avatar" height="40px" src="" style="border-radius: 50%;" data-toggle="tooltip" data-placement="bottom">&nbsp;
            <a href="#" id="logout"><small>Sign Out</small></a>
        </div>
        <div class="col right align-self-end hidden" id="loginContainer">
            <img src="btn_google_signin_dark_normal_web.png" id="login" class="btn">
        </div>
    </div>


    <div class="form-group hidden" id="copyPasteArea">
        <label for="area">Copy or Paste text here</label>
        <textarea class="form-control" id="area" rows="3"></textarea>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-warning hidden" id="removeButton" data-toggle="tooltip" data-placement="top" title="Removes all content from the servers and wipes the database">Clear</button>
    </div>

    <div>
        <span class="badge badge-info">Privacy</span>We use your text only to serve it for your other device. We don't run analytics or natural language processing, we don't visit your links and we'll never sell your data.
    </div>
    <div>
        <span class="badge badge-info">Encrypted</span>We store your text in a highly encrypted (AES-256) format. For each user we generate a new private key and store it in a separate database.
    </div>
    <div>
        <span class="badge badge-info">No history</span>We only store the last content, no history maintained. After you have used the service, clear the text field, and your previous content will be permanently removed!
    </div>
    <div>
        <span class="badge badge-info">Secure</span>Authenticated by the federated Google Authentication service. There is no way we can get your Google credentials. This is guaranteed by Google APIs.
    </div>
    <div>
        <span class="badge badge-info">Open Source</span>Check the source code on <a href="https://github.com/kavai77/webclipboard" target="_blank">GitHub</a></li>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js"></script>
<script th:src="@{main.js(v=${mainjshash})}"></script>
</body>
</html>